{% load json_encode from profilr_tags %}
<div 
    class="full-page-view full-page-view__filters"
    tabindex="0"
    data-controller="filter--filter"
    data-filter--filter-filters-value="{{ filters|json_encode }}"
>
    <div class="full-page-view__main">
        <div class="full-page-view__header">
            <div class="full-page-view__action_container">
                <h2 class="full-page-view__title">Filters</h2>
                <button
                    type="button"
                    class="btn btn-close"
                    aria-label="Sluit"
                    data-action="filter--filter#hideFilters"
                ></button>    
            </div>
        </div>
        <div class="full-page-view__scroll-pane">
            <div class="full-page-view__content">
                <turbo-frame id="incidents_filters">
                <form action="" method="post" id="incidentFilterAllForm" data-testid="incidentFilterAllForm">
                    {% csrf_token %}
                    <details class="filter filter--active">
                        <summary>
                            <span>Actieve filters</span>
                            <span class="count count--filter" data-filter--filter-target="countActiveFilter"><span>
                        </summary>
                        <fieldset>
                            <ul>
                                {% if filters.afdelingen|length > 0 %}
                                <li>
                                    <h3 class="h5">Afdeling</h3>
                                    <ul class="list-filters--active">
                                        {% for department in filters.afdelingen %}
                                        <li class="js-filter-active">
                                            <button
                                                class="btn btn-secondary btn-filter--active"
                                                data-action="filter--filter#removeFilter"  
                                                data-filter--filter-code-param="{{ department.0 }}"
                                                data-filter--filter-description-param="afdelingen"
                                            >
                                                <span>{{ department.1 }}</span>
                                            </button>
                                            
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}

                                {% if filters.wijken|length > 0 %}
                                <li>
                                    <h3 class="h5">Wijken</h3>
                                    <ul class="list-filters--active">
                                        {% for wijk in filters.wijken %}
                                        <li class="js-filter-active">
                                            <button
                                                class="btn btn-secondary btn-filter--active"
                                                data-action="filter--filter#removeFilter"  
                                                data-filter--filter-code-param="{{ wijk.0 }}"
                                                data-filter--filter-description-param="wijken"  
                                            >
                                                <span>{{ wijk.1 }}</span>
                                            </button>
                                            
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}

                                {% if filters.buurten|length > 0 %}
                                <li>
                                    <h3 class="h5">Buurten</h3>
                                    <ul class="list-filters--active">
                                        {% for buurt in filters.buurten %}
                                        <li class="js-filter-active">
                                            <button
                                                class="btn btn-secondary btn-filter--active"
                                                data-action="filter--filter#removeFilter"  
                                                data-filter--filter-code-param="{{ buurt.0 }}"
                                                data-filter--filter-description-param="buurten"   
                                            >
                                                <span>{{ buurt.1 }}</span>
                                            </button>
                                            
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                            <!-- <button type="button" class="btn btn-secondary">
                                Actieve filters opslaan
                            </button> -->
                            <button type="button" class="btn btn-tertiary">
                                Wis alle filters
                            </button>
                        </fieldset>
                    </details>
                    
                    <details class="filter">
                        <summary>
                            <span>Afdelingen</span>
                            <span>({{ filters.afdelingen|length }})</span>
                        </summary>
                        {% include "snippets/form_departmentfilter--departments.html" %}
                    </details>

                    <details class="filter">
                        <summary>
                            <span>Wijken/buurten</span>
                            <span>({{ filters.wijken|add:filters.buurten|length }})</span>
                        </summary>
                        {% include "snippets/form_areafilter--areas.html" %}
                    </details>

                    <div class="full-page-view__footer">
                        <button
                            type="submit"
                            class="btn btn-action"
                            data-action="filter--filter#submitFilter"
                        >
                            Toon meldingen
                        </button>
                    </div>
                </form>
                </turbo-frame>
            </div>
            
        </div>
    </div>
</div>
