{% load json_encode from profilr_tags %}
<div 
    class="full-page-view full-page-view__filters"
    tabindex="0"
    data-controller="filter--filter"
    data-filter--filter-departments-value="{{ departments|json_encode }}"
>
    <div class="full-page-view__main">
        <div class="full-page-view__header">
            <div class="full-page-view__action_container">
                <h2 class="full-page-view__title">Filters</h2>
                <button
                    type="button"
                    class="btn btn-close"
                    aria-label="Sluit"
                    data-action="click->filter--filter#hideFilters"
                ></button>    
            </div>
        </div>
        <div class="full-page-view__scroll-pane">
            <div class="full-page-view__content">
                {{ filters }}
                <form action="" method="post" data-testid="incidentFilterAllForm">
                    {% csrf_token %}
                    <details class="filter filter--active">
                        <summary>
                            <span>Actieve filters</span>
                            <span>(xx)</span>
                        </summary>
                        <fieldset>
                            <ul>
                                {% if filters.afdelingen|length > 0 %}
                                <li>
                                    <h3 class="h5">Afdeling</h3>
                                    <ul class="list-filters--active">
                                        {% for department in filters.afdelingen %}
                                        <li>
                                            <button
                                                class="btn btn-secondary btn-filter--active"
                                                data-action="click->filter--filter#removeFilter"    
                                            >
                                                <span>{{ department }}</span>
                                            </button>
                                            
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                                <li>
                                    <h3 class="h5">Groep</h3>
                                    <ul>
                                        <li class="filter--active">
                                            <button
                                                class="btn btn-secondary btn-filter--active"
                                                data-action="click->filter--filter#removeFilter"    
                                            >
                                                <span>Afval</span>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-secondary">
                                Actieve filters opslaan
                            </button>
                            <button type="button" class="btn btn-tertiary">
                                Wis alle filters
                            </button>
                        </fieldset>
                    </details>
                    
                    <details class="filter">
                        <summary>
                            <span>Afdelingen</span>
                            <span>(xx)</span>
                        </summary>
                        {% include "snippets/form_departmentfilter.html" %}
                    </details>

                    <details class="filter">
                        <summary>
                            <span>Wijken/buurten</span>
                            <span>(xx)</span>
                        </summary>
                        {% include "snippets/form_areafilter--areas.html" %}
                    </details>

                    <details class="filter">
                        <summary>
                            <span>Groep</span>
                            <span>(xx)</span>
                        </summary>
                        <fieldset>
                            <ul>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkThree">
                                        <label class="form-check-label" for="checkThree">Schone Stad inzameling Zuid</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="checkFour">
                                        <label class="form-check-label" for="checkFour">Schone Stad inzameling Zuid-AL</label>
                                    </div>
                                </li>
                            </ul>
                        </fieldset>
                    </details>
                    <div class="full-page-view__footer">
                        <button type="submit" class="btn btn-action">
                            Toon xx meldingen
                        </button>
                        <button type="button" class="btn btn-secondary">
                            Gekozen filters opslaan
                        </button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
