{% load json_encode from profilr_tags %}
<div 
    class="full-page-view full-page-view__filters"
    tabindex="0"
    data-controller="filter--filter"
    data-filter--filter-filters-value="{{ filters|json_encode }}"
    data-testid="incidentFilterAll"
>

    <div class="full-page-view__main">
        <div class="full-page-view__header">
            <div class="full-page-view__action_container">
                <h2 class="full-page-view__title">Filters</h2>
                <button
                    type="button"
                    class="btn btn-close"
                    aria-label="Sluit"
                    data-action="filter--filter#hideFilters"
                ></button> 
            </div>
        </div>
        <div class="full-page-view__scroll-pane">
            <div class="full-page-view__content">
                <turbo-frame id="incidents_filters" src="{{ fullpage_view }}">
                </turbo-frame>
            </div>
        </div>
        <div class="full-page-view__footer">
            <button
                type="button"
                class="btn btn-action"
                data-action="filter--filter#hideFilters"
            >
                Toon meldingen
            </button>
        </div>
    </div>
</div>
