{% load json_encode from profilr_tags %}
<ul
    class="list-clean"
    data-controller="filter--filter"
    data-testid="incidentFilterSubject"
>
    {% for group in groupedSubjects %}
        <li class="container__check">
            <details class="">
                <summary>
                    {{ group.omschrijving }}
                </summary>
                {% if group.onderwerpen %}
                <div class="container__list--subjects foldout">
                    <h3 class="h5">Onderwerpen</h3>
                    <ul class="list-clean">
                        {% for subject in group.onderwerpen %}
                        <li>
                            <div class="form-check">
                                <input 
                                    class="form-check-input filter--subject"
                                    type="checkbox"
                                    value="{{ subject.code }}"
                                    {% if subject.code in valid_filters.onderwerpen %}checked{% endif %}
                                    name="onderwerpen"
                                    id="subject_{{ subject.code }}"
                                    data-action="filter--filter#onChangeFilter"
                                >
                                <label class="form-check-label" for="subject_{{ subject.code }}">{{ subject.omschrijving }}</label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </details>
        </li>
    {% endfor %}
    </ul>