{% load json_encode from profilr_tags %}
<ul
    class="list-clean"
    data-controller="filter--filter"
    data-testid="incidentFilterArea"
>
    {% for area in areas %}
        <li class="container__check">
            <details class="">
                <summary>
                    {{ area.omschrijving }}
                </summary>
                {% if area.buurten %}
                <div class="container__list--districts foldout">
                    <h3 class="h5">Buurten in deze wijk</h3>
                    <ul class="list-clean">
                        {% for district in area.buurten %}
                        <li>
                            <div class="form-check">
                                <input 
                                    class="form-check-input filter--district"
                                    type="checkbox"
                                    value="{{ district.code }}"
                                    {% if district.code in valid_filters.buurten %}checked{% endif %}
                                    name="buurten"
                                    id="district_{{ district.code }}"
                                    data-action="change->filter--filter#onChangeFilter"
                                >
                                <label class="form-check-label" for="district_{{ district.code }}">{{ district.omschrijving }}</label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </details>
            
        </li>
    {% endfor %}
    </ul>