{% load json_encode from profilr_tags %}
<ul
    class="list-clean"
    data-controller="filter--departmentFilter"
    data-filter--departmentFilter-filters-value='{{ profile.filters|json_encode }}'
    data-test-id="incidentFilterDepartment"
>
    {% for department in departments %}
        <li class="container__check-department">
            <div class="form-check">
                <input
                    class="form-check-input filter--department"
                    type="checkbox"
                    value="{{ department.code }}"
                    {% if department.code in valid_filters.afdelingen %}checked{% endif %}
                    name="afdelingen"
                    id="department_{{ department.code }}"
                    data-action="filter--departmentFilter#submitFilter"
                >
                <label class="form-check-label" for="department_{{ department.code }}">{{ department.omschrijving }}</label>
            </div>
        </li>
    {% endfor %}
    </ul>