{% load json_encode from profilr_tags %}
<ul
    class="list-clean"
    data-controller="filter--areaFilter"
    data-filter--areaFilter-areas-value='{{ areas|json_encode }}'
    data-filter--areaFilter-filters-value='{{ profile.filters|json_encode }}'
    data-testid="incidentFilterArea"
>
    {% for area in areas %}
        <li class="container__check-area">
            <div class="form-check">
                <input
                    class="form-check-input filter--area"
                    type="checkbox"
                    value="{{ area.code }}"
                    name="wijken"
                    {% if area.code in valid_filters.wijken %}checked{% endif %}
                    id="area_{{ area.code }}"
                    data-action="change->filter--areaFilter#toggleArea"
                >
                <label class="form-check-label" for="area_{{ area.code }}">{{ area.omschrijving }}</label>
            </div>
            {% if area.buurten %}
            <div class="container__list--districts foldout hidden">
                <h3 class="h5">Buurten in deze wijk</h3>
                <ul class="list-clean">
                    {% for district in area.buurten %}
                    <li>
                        <div class="form-check">
                            <input 
                                class="form-check-input filter--district"
                                type="checkbox"
                                value="{{ district.code }}"
                                {% if district.code in valid_filters.buurten %}checked{% endif %}
                                name="buurten"
                                id="district_{{ district.code }}"
                                data-action="change->incidentFilter#selectAreaFromDistrict"
                            >
                            <label class="form-check-label" for="district_{{ district.code }}">{{ district.omschrijving }}</label>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>