<div class="modal modal--first-filter" id="modal-filter--first">
    <div class="modal-dialog">
        <div class="modal-backdrop modal-exit" id="modal-backdrop"></div>
        <div class="modal-content">
            <div class="modal-header">
                <h1>
                    Selecteer een afdeling
                </h1>
                <button type="button" class="btn-close modal-exit" aria-label="Sluit"></button>    
            </div>
            <div class="modal-body">
                {% include "snippets/form_departmentfilter.html" %}
            </div>
        </div>
    </div>
</div>