{% block start_turbo_frame %}{% endblock %}
<div class="modal" id="{{ modal_id }}">
    <div class="modal-dialog">
        <div class="modal-backdrop modal-exit" id="modal-backdrop"></div>
        <div class="modal-content">
            <div class="modal-header">
            {% block modal_header %}
            {% endblock %}
            </div>
            <div class="modal-body">
            {% block modal_body %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% block end_turbo_frame %}{% endblock %}