{% extends 'base.html' %}
{% load json_encode from profilr_tags %}

{% block title %}Filter op wijk en/of buurt{% endblock %}

{% block body %}

    <div class="container__form" 
        data-controller="incidentFilter"
        data-incidentFilter-area-list-value='{{ areas|json_encode }}'
        data-incidentFilter-department-list-value='{{ departments|json_encode }}'
    >
        <h1>Filter op wijk en/of buurt</h1>
        <form action="" method="post" data-testid="incidentFilterForm">
            {% csrf_token %}
            <h2 class="h4">Selecteer een wijk</h2>
            <div
                class="form-row"
            >
                <ul class="list-clean">  
                {% for area in areas %}
                    <li class="container__check-area">
                        <div class="form-check">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                value="{{ area.code }}"
                                name="wijken"
                                id="area_{{ area.code }}"
                                data-action="change->incidentFilter#toggleArea"
                            >
                            <label class="form-check-label" for="area_{{ area.code }}">{{ area.omschrijving }}</label>
                        </div>
                        {% if area.buurten %}
                        <div class="container__list--districts foldout hidden">
                            <h3 class="h5">Buurten in deze wijk</h3>
                            <ul class="list-clean">
                                {% for district in area.buurten %}
                                <li>
                                    <div class="form-check">
                                        <input 
                                            class="form-check-input"
                                            type="checkbox"
                                            value="{{ district.code }}"
                                            name="buurten"
                                            id="district_{{ district.code }}"
                                            data-action="change->incidentFilter#selectAreaFromDistrict"
                                        >
                                        <label class="form-check-label" for="district_{{ district.code }}">{{ district.omschrijving }}</label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            </div>
            
            <!-- <div class="form-row">
                <label for="afdelingen">Afdeling</label>
                <select
                    class="form-control form-select"
                    name="afdelingen"
                    id="afdelingen"
                    data-incidentFilter-target="departmentList"
                ></select>
            </div> -->
            <div class="form-row container__button">
                <button type="submit" class="btn btn-action"><span>Filter</span></button>
            </div>
        </form>
    </div>

{% endblock %}
