{% extends 'base.html' %}
{% load webpack_static from profilr_tags %}
{% load to_date from profilr_tags %}
{% load json_encode from profilr_tags %}
{% block title %}{{ incident.locatie.adres.straatNaam }} {{ incident.locatie.adres.huisnummer }}{% endblock %}

{% block stylesheets %}
    {{block.super}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>
{% endblock %}

{% block javascripts %}
     {{block.super}}
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
{% endblock %}

{% block body %}
<turbo-frame id="incident_detail_part" src="{% url 'incident_detail_part' id %}"></turbo-frame>
{% endblock %}
