{% load json_encode from profilr_tags %}
<turbo-frame id="melding_afhandelen">
<div class="container__form" 
    data-controller="getGroups"
    data-getGroups-group-list-value =  "{{ groupedSubjects|json_encode }}"
    data-getGroups-group-selected-value = "{}"
    data-getGroups-group-list-value =  "..."
    data-getGroups-form-is-submitted =  {% if form %}false{% else %}true{% endif %}
>
    {% if form %}
    <form action="{% if incident.id %}{% url 'incident_handle' incident.id %}{% endif %}" method="post" data-testid="handleIncidentForm">
        {% csrf_token %}
        {% comment %} <div class="form-row">
            <label htmlFor="group">Groep</label>
            <select
                class="form-control form-select"
                name="groupList"
                id="groupList"
                data-getGroups-target="groupList"
                data-action="change->getGroups#setSubjects"
                {# data-getGroups-selectedGroup-param="" #}
            ></select>
        </div>

        <div class="form-row">
            <label htmlFor="subject">Onderwerp</label>
            <select
                class="form-control form-select"
                name="subjectList"
                id="subjectList"
                data-getGroups-target="subjectList"
            ></select>
        </div> {% endcomment %}

        {% comment %} <div class="form-row">
            <label htmlFor="messageSelector">Tekst voor melder</label>
            <input
                class="form-control"
                data-testid="messageSelector"
                id="messageSelector"
                name="messageSelector"
                value="Afval weggehaald"
                type="text"
            />
        </div>
        <div class="form-row">
            <textarea
                class="form-control"
                data-testid="message"
                id="message"
                name="message"
                rows="4"
            >Beste melder, Ons team heeft het afval weggehaald. Bedankt voor uw hulp.
            </textarea>
        </div> {% endcomment %}

        <fieldset>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioRegulier" value="" id="radioWel">
                <label class="form-check-label ms-1" for="radioWel">Wel</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioRegulier" value="" id="radioNiet">
                <label class="form-check-label ms-1" for="radioNiet">Niet</label>
            </div>
        </fieldset>

        <div class="form-row">
            {{ form.handle_choice }}
        </div>

        <div class="form-row container__button">
            <button type="reset" class="btn btn-tertiary modal-exit"><span>Annuleren</span></button>
            {# TODO make it a submit button when we are not testing on production #}
            <button type="submit" class="btn btn-action"><span>Afhandelen</span></button>
        </div>
    </form>
    {% else %}
        {% if warnings %}
        <h3>Waarschuwing!</h3>
        {% for e in warnings %}
        {{ e }}
        {% endfor %}
        {% endif %}
        {% if errors %}
        <h3>Er is een fout opgetreden!</h3>
        {% for e in errors %}
        {{ e }}
        {% endfor %}
        {% endif %}
    {% endif %}
</div>
</turbo-frame>