{% load json_encode from profilr_tags %}
<turbo-frame id="melding_afhandelen">
<div class="container__form" 
    data-controller="getGroups"
    data-getGroups-group-list-value =  "{{ groupedSubjects|json_encode }}"
    data-getGroups-group-selected-value = "{}"
    data-getGroups-group-list-value =  "..."
    data-getGroups-form-is-submitted =  {% if form %}false{% else %}true{% endif %}
>
    {% if form %}
    <form action="{% if incident.id %}{% url 'incident_handle' incident.id %}{% endif %}" method="post" data-testid="handleIncidentForm">
        {% csrf_token %}
        
        {{ form.handle_choice }}
        
        <div class="form-row container__button">
            <button type="reset" class="btn btn-tertiary modal-exit"><span>Annuleren</span></button>
            {# TODO make it a submit button when we are not testing on production #}
            <button type="submit" class="btn btn-action"><span>Afhandelen</span></button>
        </div>
    </form>
    {% else %}
        {% if warnings %}
        <h3>Waarschuwing!</h3>
        {% for e in warnings %}
        {{ e }}
        {% endfor %}
        {% endif %}
        {% if errors %}
        <h3>Er is een fout opgetreden!</h3>
        {% for e in errors %}
        {{ e }}
        {% endfor %}
        {% endif %}
    {% endif %}
</div>
</turbo-frame>