{% load webpack_static from profilr_tags %}
{% load to_date from profilr_tags %}
{% load json_encode from profilr_tags %}

<turbo-frame id="incident_list_item">
    <div
        class="list-item{% if form_submitted %} form-is-submitted{% endif %}{% if errors and warnings %} has-errors{% endif %}"
        data-controller="incident" 
        data-action="click->incident#swipe"
        data-incident-target="root"
        data-incident-is-submitted-value="{{ form_submitted }}"
        data-incident-id-value="{{ incident.id }}">
        {% if not form_submitted %}
        <div class="wrapper__swipe">
            <div class="container__flex">
                <a href="/incident/{{ incident.id }}">
                    <div class="container__image">
                        {% if incident.fotos %}
                        {% with incident.fotos|first as first_foto %}
                        <div class="background-image" style="background-image: url('{% url 'image_thumbnail' first_foto.id %}')"></div>
                        {% endwith %}
                        {% else %}
                            <div class="background-image" style="background-image: url('{% webpack_static 'icons/assets/icons/noimage.svg' %}'); background-size: 40%;"></div>
                        {% endif %}
                    </div>
                </a>
                <div class="container__info">
                    {# <a href="/incident/{{ incident.id }}/handle"> #}
                        <div class="incident__header">
                            <h2>{{ incident.locatie.adres.straatNaam|lower|capfirst }} {{ incident.locatie.adres.huisnummer }}</h2>
                            {% if incident.spoed %}<span class="icon icon--warning">{% endif %}</span>
                        </div>

                        <span class="incident__category">
                            {{ incident.onderwerp.omschrijving }} - {{ incident.status }}
                        </span>
                        <div class="incident__moment">
                            <span>
                                {{ incident.datumMelding|to_date|date:"d-M-Y" }} 
                                {{ incident.datumMelding|to_date|date:"H:i" }}
                            </span>
                        </div>
                    {# </a> #}
                </div>
            </div>
        </div>
        <button
            class="container__actions"
            data-id="{{ incident.id }}"
            data-incident-object-param = "{{ incident|json_encode }}"
            data-action="incident#openModal"
        >
            <img src="{% webpack_static 'icons/assets/icons/checkmark.svg' %}" width="20" alt="" class="checkmark-handle" id="checkMarkHandle"/>
        </button>
        <div class="modal" id="modal-handleForm_{{incident.id}}">
            <div class="modal-dialog">
                <div class="modal-backdrop modal-exit" id="modal-backdrop"></div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>
                            Melding afhandelen<br>
                            <small data-address>{{ incident.locatie.adres.straatNaam|lower|capfirst }} {{ incident.locatie.adres.huisnummer }}</small>
                        </h1>
                        <button type="button" class="btn-close modal-exit" aria-label="Sluit"></button>    
                    </div>
                    <div class="modal-body">
                        <div class="container__form" 
                            data-controller="getGroups"
                            data-getGroups-group-list-value =  "{{ groupedSubjects|json_encode }}"
                            data-getGroups-group-selected-value = "{}"
                            data-getGroups-group-list-value =  "..."
                            data-getGroups-form-is-submitted =  {% if form %}false{% else %}true{% endif %}
                        >
                            {% if form %}
                            <form action="{% if incident.id %}{% url 'incident_list_item_part' incident.id %}{% endif %}" method="post" data-testid="handleIncidentForm">
                                {% csrf_token %}
                                
                                {{ form.handle_choice }}
                                
                                <div class="form-row container__button">
                                    <button type="reset" class="btn btn-tertiary modal-exit"><span>Annuleren</span></button>
                                    {# TODO make it a submit button when we are not testing on production #}
                                    <button type="submit" class="btn btn-action"><span>Afhandelen</span></button>
                                </div>
                            </form>
                            {% else %}

                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% else %}
            {% if not ENABLE_MELDING_AFHANDELEN %}
                <span>In deze omgeving kun je geen meldingen afhandelen.</span>
            {% else %}
                <span>De melding is afgehandeld.</span>
            {% endif %}

            {% if warnings %}
                <h3>Waarschuwing!</h3>
                {% for e in warnings %}
                {{ e }}
                {% endfor %}
            {% endif %}
            {% if errors %}
                <h3>Er is een fout opgetreden!</h3>
                {% for e in errors %}
                {{ e }}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</turbo-frame>