{% load webpack_static from profilr_tags %}
{% load to_date from profilr_tags %}
{% load json_encode from profilr_tags %}
{% with incident_id=incident.id|stringformat:"s" %}
<turbo-frame id="incident_list_item">
    <div
        class="list-item{% if form_submitted %} form-is-submitted{% endif %}{% if errors and warnings %} has-errors{% endif %}"
        data-controller="incident" 
        data-action="formHandleIsConnected->incident#formHandleIsConnectedHandler"
        data-incident-id-value="{{ incident.id }}">
        <button
            class="container__actions handle--no-success"
            data-id="{{ incident.id }}"
            data-incident-target="button"
        >
            <div>
                <span>Niet opgelost</span>
            </div>
        </button>
        <div class="wrapper__swipe">
            <div class="container__flex">
                <a href="/incident/{{ incident.id }}">
                    <div class="container__image">
                        {% if incident.fotos %}
                        {% with incident.fotos|first as first_foto %}
                        <div class="background-image" style="background-image: url('{% url 'image_thumbnail' first_foto.id %}')"></div>
                        {% endwith %}
                        {% else %}
                            <div class="background-image" style="background-image: url('{% webpack_static 'icons/assets/icons/noimage.svg' %}'); background-size: 40%;"></div>
                        {% endif %}
                    </div>
                </a>
                <div class="container__info">
                    {# <a href="/incident/{{ incident.id }}/handle"> #}
                        <div class="incident__header">
                            <h2>{{ incident.locatie.adres.straatNaam|lower|capfirst }} {{ incident.locatie.adres.huisnummer }}</h2>
                            {% if incident.spoed %}<span class="icon icon--warning">{% endif %}</span>
                        </div>

                        <span class="incident__category">
                            {{ incident.onderwerp.omschrijving }} - {{ incident.status }}
                        </span>
                        <div class="incident__moment">
                            <span>
                                {{ incident.datumMelding|to_date|date:"d-M-Y" }} 
                                {{ incident.datumMelding|to_date|date:"H:i" }}
                            </span>
                        </div>
                    {# </a> #}
                </div>
            </div>
        </div>
        <button
            class="container__actions handle--success"
            data-id="{{ incident.id }}"
            data-incident-target="button"
        >
            <div>
                <span>Afhandelen</span>
            </div>
        </button>

        <turbo-frame id="incident_modal_handle_{{ incident.id }}" src="{% url 'incident_modal_handle_part' incident.id %}" laoding="lazy">
        </turbo-frame>
    </div>
</turbo-frame>
{% endwith %}