{% load webpack_static from profilr_tags %}
{% load to_date from profilr_tags %}
{% load json_encode from profilr_tags %}

<turbo-frame id="incidents_list">
    <div
        class="page-incidents"
        data-controller="incidents"
        data-incidents-filters-value="{{ filters|json_encode }}"
    >
        <div class="container__header">
            <h1>Meldingen {% if filters_count > 0 %}({{ incidents | length }}){% endif %}</h1>
            <button
                type="button"
                class="btn btn-secondary btn-filter--small"
                data-controller="filter--filter"
                data-action="filter--filter#showFilters"
            >
                <span><img src="{% webpack_static 'icons/assets/icons/filter.svg' %}"/></span>
                <span>Filter</span>
                <span class="count count--filter" data-filter--filter-target="countActiveFilter">{{ filters_count }}<span>
            </button>
        </div>
        <div class="container__list seperated">
            {% if filters_count %}
                <div
                    class="list__incidents" 
                    data-testid="incidentsList" 
                    >
                    {% for incident in incidents %}
                    <turbo-frame id="incident_list_item" src="{% url 'incident_list_item_part' incident.id %}"></turbo-frame>
                    {% endfor %}
                </ul>
            {% else %}
                
                <div class="alert alert--info">
                    
                    <span><img src="{% webpack_static 'icons/assets/icons/info.svg' %}"/></span>
                    <div>
                        <a
                            data-controller="filter--filter"
                            data-action="filter--filter#showFilters"
                        >Stel de filters</a> in om de juiste meldingen te kunnen bekijken.
                    </div>
                </div>


            {% endif %}
        </div>
    </div>
</turbo-frame>