{% load webpack_static from profilr_tags %}
{% load to_date from profilr_tags %}
{% load json_encode from profilr_tags %}


<turbo-frame id="incidents_list">
    <div
        class="page-incidents"
        data-incidents-filters-value="{{ filters|json_encode }}"
    >
        <div class="container__header">
            <h1 class="h3">Meldingen {% if filters_count > 0 %}({{ incidents | length }}){% endif %}</h1>
            <div>
                <button
                    type="button"
                    class="btn btn-secondary btn-navigate--small"
                    data-controller="incidentList"
                    data-action="incidentList#makeRoute"
                    data-incidentList-incidents-param="{{ incidents|json_encode }}"
                >
                    <span>
                        <svg width="13" height="13" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M26.2196 0.280273L15.921 26.0267L11.63 14.8699L0.473145 10.5789L26.2196 0.280273ZM5.94958 10.5424L13.1775 13.3223L15.9575 20.5503L22.6295 3.87038L5.94958 10.5424Z" fill="white"/>
                        </svg>
                            
                    </span>
                </button>
                <button
                    type="button"
                    class="btn btn-secondary btn-filter--small"
                    data-controller="filter--filter"
                    data-action="filter--filter#showFilters"
                >
                    <span>
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.8125 7.63864V12.625C4.8125 12.7784 4.89205 12.9202 5.02243 13.0011C5.09315 13.0449 5.17358 13.067 5.25446 13.067C5.32208 13.067 5.38971 13.0515 5.45202 13.0206L7.94309 11.6947C8.09292 11.6195 8.1875 11.4666 8.1875 11.2991V7.63864L12.5412 3.79267C12.6345 3.70913 12.6875 3.5898 12.6875 3.46429V1.25446C12.6875 1.0105 12.4899 0.8125 12.2455 0.8125H0.754464C0.510058 0.8125 0.3125 1.0105 0.3125 1.25446V3.46429C0.3125 3.5898 0.365536 3.70913 0.45879 3.79267L4.8125 7.63864ZM1.4375 1.9375H11.5625V3.26761L7.20879 7.11358C7.11554 7.19712 7.0625 7.31645 7.0625 7.44196V10.9375L5.9375 11.5V7.44196C5.9375 7.31645 5.88446 7.19712 5.79121 7.11358L1.4375 3.26761V1.9375Z" fill="white"/>
                        </svg>
                    </span>
                    <span>Filter</span>
                    <span class="count count--filter">{{ filters_count }}</span>
                </button>
            </div>
        </div>
        <div class="container__list seperated">
            {% if filters_count %}
                <div
                    class="list__incidents" 
                    data-testid="incidentsList" 
                    >
                    {% for incident in incidents %}
                    <turbo-frame id="incident_list_item" src="{% url 'incident_list_item_part' incident.id %}"></turbo-frame>
                    {% endfor %}
                </ul>
            {% else %}
                
                <div class="alert alert--info">
                    
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.9 12C21.9 6.5 17.5 2.1 12 2.1C6.5 2.1 2.1 6.5 2.1 12C2.1 17.5 6.5 21.9 12 21.9C17.5 21.9 21.9 17.5 21.9 12ZM0 12C0 5.4 5.4 0 12 0C18.6 0 24 5.4 24 12C24 18.6 18.6 24 12 24C5.4 24 0 18.6 0 12ZM13 7V5H11V7H13ZM13 19V9H11V19H13Z" fill="#00689E"/>
                        </svg>
                    </span>
                    <div>
                        <a
                            data-controller="filter--filter"
                            data-action="filter--filter#showFilters"
                        >Stel de filters</a> in om de juiste meldingen te kunnen bekijken.
                    </div>
                </div>


            {% endif %}
        </div>
    </div>
</turbo-frame>
