$upload-file-indicator: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 -2 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M0.25 18H13.75V6V4.5V3.75L10 0H9.25H7.75H0.25V18ZM12.25 4.5L9.25 1.5V4.5H12.25ZM9.25 6H8.5H7.75V1.5H1.75V16.5H12.25V6H9.25Z' fill='#{$gray-tint09}'/> </svg>");
$upload-file-indicator-position: left 14px center !default;
$upload-multiple-indicator: url("data:image/svg+xml,<svg width='80' height='101' viewBox='0 0 80 101' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M10.5259 37.875H35.7891V42.0833H10.5259V37.875Z' fill='#CAD6DA'/> <path d='M10.5262 46.2915H48.4209V50.4998H10.5262V46.2915Z' fill='#CAD6DA'/> <path d='M10.5262 56.8125H48.4209V61.0208H10.5262V56.8125Z' fill='#CAD6DA'/> <path d='M10.5262 67.3335H48.4209V71.5418H10.5262V67.3335Z' fill='#CAD6DA'/> <path d='M10.5262 77.854H48.4209V82.0623H10.5262V77.854Z' fill='#CAD6DA'/> <path d='M10.5262 88.375H48.4209V92.5833H10.5262V88.375Z' fill='#CAD6DA'/> <path d='M-0.000106812 101H58.9473V33.8772L51.7894 24.8293L45.0525 16.8335H-0.000106812V101ZM54.7367 96.7918H4.21042V21.0418H43.1578L48.6315 27.5647L54.7367 35.3502V96.7918Z' fill='#CAD6DA'/> <path d='M39.9997 37.8752H56.8418V33.6668H44.2102V19.9897H39.9997V37.8752Z' fill='#CAD6DA'/> <path d='M50.5261 29.2478H67.3682V25.0394H54.7366V11.5728H50.5261V29.2478Z' fill='#CAD6DA'/> <path d='M56.8421 92.5837H69.4736V25.4607L62.3157 16.4128L55.5789 8.41699H10.5263V19.1482H14.7368V12.6253H53.4736L58.9473 19.1482L65.2631 26.9337V88.3753H56.8421V92.5837Z' fill='#CAD6DA'/> <path d='M67.3684 84.1667H80V17.0438L72.8421 7.99583L66.1053 0H20.8421V10.7312H25.0526V4.20833H64L69.4737 10.7312L75.7895 18.5167V79.9583H67.3684V84.1667Z' fill='#CAD6DA'/></svg>");
.form-control {
  &.file {
    background-image: escape-svg($upload-file-indicator) !important;
    background-position: $upload-file-indicator-position;
    background-repeat: no-repeat;
    padding-left: 40px;
  }
}

.form-control[class~="file"] {
  &[readonly] {
    background-color: $white;
    border-color: $gray-tint08;
    opacity: 1;
  }
}

.file-upload {
  position: relative;
  width: 100%;
  height: 48px;
  :not(.multiple) {
    .file-upload-mask {
      height: 100%;
    }
  }
  &.multiple {
    height: auto;
    .file-upload-mask {
      background-image: escape-svg($upload-multiple-indicator) !important;
      background-repeat: no-repeat;
      background-size: 80px;
      background-position: center 32px;
      border: 1px dashed $gray-tint08;
      cursor: pointer;
      text-align: center;
      padding: 156px 88px 32px 88px;
    }
  }
  .file-upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0;
    cursor: pointer
  }
}

.file-upload-list {
  list-style: none;
}
ul[class~="file-upload-list"] {
  padding-right: 16px;
  padding-left: 16px;
}

.file-upload-item-preview {
  width: 60px;
  height: 60px;
  background-color: $gray-tint01;
  border: 1px solid $gray-tint04;
}
.file-upload-item-delete {
  color: $gray-tint11;
  text-decoration: none;
}