/**
Defines the footer and footer-links.

 */
footer  {
  font-size: $small-font-size;
  margin-top: 42px;                             // Result in 80px vertical distance between content and horizontal line
  margin-bottom: 10px;                          // Result in 28px vertical distance between logo and bottom of the page
  hr {
    border-top: 2px solid $green;
    opacity: 1;
    @include media-breakpoint-up(md) {
      border-top: 3px solid $green;
    }
  }
  .container {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 38px;                        // Result in 56px vertical distance between logo and bottom of the page
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 58px;                        // Result in 76px vertical distance between logo and bottom of the page
  }
}

.footer-links {
  a {
    &:hover {
      color: $green !important;
    }
  }
  margin-bottom: 8px;                           // Result in 32px vertical distance between links (among each other) and horizontal line
  > * {
    padding-bottom: 4px;                        // Result in 12px vertical distance between links (among each other)
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 0px;                         // Result in 20px vertical distance between links (next to each other) and horizontal line
    > * {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 0px;                       // Result in 12px distance between links (next to each other)
    }
  }
  @include media-breakpoint-up(xl) {
    margin-top: 18px;                           // Result in 38px vertical distance between links (next to each other) and horizontal line
    > * {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-right: 4px;                       // Result in 16px distance between links (next to each other)
    }
  }
}

.footer-logo {
  width: 159px;
  height: 30px;
  margin-top: -2px;                             // Result in 16px vertical distance between logo and horizontal line
  @include media-breakpoint-up(md) {
    width: 199px;
    height: 37px;
    margin-top: -2px;                           // Result in 16px vertical distance between logo and horizontal line
  }
  @include media-breakpoint-up(xl) {
    width: 238px;
    height: 44px;
    margin-top: 6px;                            // Result in 24px vertical distance between logo and horizontal line
  }
}
