/**
 * Defines the header, mainly suitable for public pages 
 * (for burgers, organisations and anonymous internet users).
 */

header {
  a {
    text-decoration: none;
  }

  .skip-to-content {
    padding: 16px;
    position: absolute;
    top: -100px;
    left: 0px;
    color: white;
    background: black;
    text-decoration: underline;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 999;
    &:focus {
      top: 0px;
      -webkit-transition: top .1s ease-in;
      transition: top .1s ease-in;
    }
  }
}

.header-top-items {
  height: 32px;                                   // Result in 48px height of top bar
  > * {
    padding-left: 0px;                            // Result in 16px (margin-right) distance between top bar items,
    &:not(:last-child) {                          // therefore no padding-left
      padding-right: 0px;                         // and padding-right for all items except the last one, this is needed
      margin-right: 16px;                         // to have the same right alignment of the links below
    }
  }
}

.header-top-item-divider {
  padding-top: 8px;                               // Position the vertical line
  :first-child[class="vertical-divider"] {
    height: 16px;
  }
}

.vertical-divider {
  border-left: 1px solid $gray-tint06;
  height: 100%;
  left: 0;
  top: 0;
}

.header-icon-link {
  color: $gray-tint11;
  vertical-align: middle !important;
  > *:not(:last-child) {
    margin-right: 1px;                            // Result in 4px distance between icon and label
    &[class*="rtm-icon"] {
      font-size: 1.25rem !important;              // Result in icon size of 20x20px
      color: $gray-tint06;
    }
  }
  &:hover {
    color: $gray-tint11;
  }
}

.nav-icon-link {
  @extend .nav-link;
  font-size: 1rem !important;                     // Result in font size of 16px
  color: $gray-tint11;
  vertical-align: middle !important;
  > *:not(:last-child) {
    margin-right: 5px;                            // Result in 8px distance between icon and label
    &[class*="rtm-icon"] {
      font-size: 1.5rem !important;               // Result in icon size of 24x24px
      color: $gray-tint06;
    }
  }
  &:hover {
    color: $gray-tint11 !important;
  }
}