/**
 * Tweaking table rendering.
 */

caption {
  /**
   * override the caption in bootstrap _reboot.scss.
   * There is no variable to tune this behaviour.
   * Do not make .sr-only implicit: if there is no H2
   * before the caption, it should not be hidden.
   */
  caption-side: top;
}

table {
  thead {
    border-top: 0px solid transparent !important;
    border-bottom: 2px solid $gray-tint11;

    th {
      a {
        color: $gray-tint11;
        text-decoration: none;
      }
    }
  }
  tr {
    line-height: 1.69;            // 52px, matches Figma In10 design.
  }
  tbody {
    tr:last-child {
        border-bottom-color: transparent;
    }
  }
}

.col-sortable {
  cursor: pointer;
  position: relative;
}
.col-sortable:after {
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-top !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Icon-Solid-Gemeente-Rotterdam' !important;
  content: $rtm-icon-solid-dropdown;
}
.col-sortable.asc:after {
  font-family: 'Icon-Line-Gemeente-Rotterdam' !important;
  content: $rtm-icon-line-arrow-down;
  color: $green;
}
.col-sortable.desc:after {
  font-family: 'Icon-Line-Gemeente-Rotterdam' !important;
  content: $rtm-icon-line-arrow-up;
  color: $green;
}
