{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<h1>Inloggen</h1>
<form action="" method="post">
    <div class="form-row">
        <label for="_username">Personeelsnummer</label>
        <input class="form-control" type="text" name="_username" id="_username" value="{{ last_username }}">
    </div>
    <div class="form-row">
        <label for="_password">Wachtwoord</label>
        <div class="container__toggle">
            <input class="form-control" type="password" name="_password" id="_password">
            {# <i class="password__toggle" id="togglePassword" style="margin-left: -30px; cursor: pointer;">o</i> #}
            <img src="{{ asset('build/icons/eye.svg') }}" width="20" alt="" class="password__toggle" id="togglePassword" style="margin-left: -30px; cursor: pointer;"/>
        </div>
    </div>
    <div class="form-row ">
        <button class="btn btn-action" type="submit"><span>Inloggen</span></button>
    </div>
</form>

<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('password__toggle-active');
    });
</script>
{% endblock %}
