{% extends 'base.html.twig' %}

{% block title %}Melding afhandelen{% endblock %}

{% block body %}

    <div class="container__form">
        <h1>
            Melding afhandelen<br>
            <small>{{ incident.locatie.adres.straatNaam }} {{ incident.locatie.adres.huisnummer }}</small>
        </h1>
        

        <form action="" method="post" data-testid="handleIncidentForm">
            <div class="form-row">
                <label htmlFor="group">Groep</label>
                <input
                    class="form-control"
                    data-testid="group"
                    value="{{ incident.afdeling.omschrijving }}"
                    id="group"
                    name="group"
                    type="text"
                />
            </div>

            <div class="form-row">
                <label htmlFor="subject">Onderwerp</label>
                <input
                    class="form-control"
                    data-testid="subject"
                    value="{{ incident.onderwerp.omschrijving }}"
                    id="subject"
                    name="subject"
                    type="text"
                />
            </div>

            <div class="form-row">
                <label htmlFor="messageSelector">Tekst voor melder</label>
                <input
                    class="form-control"
                    data-testid="messageSelector"
                    id="messageSelector"
                    name="messageSelector"
                    value="Afval weggehaald"
                    type="text"
                />
            </div>
            <div class="form-row">
                <textarea
                    class="form-control"
                    data-testid="message"
                    id="message"
                    name="message"
                    rows="4"
                >Beste melder, Ons team heeft het afval weggehaald. Bedankt voor uw hulp.
                </textarea>
            </div>
            <div class="form-row container__button">
                <button type="reset" class="btn btn-tertiary" onclick="window.history.go(-1); return false;"><span>Annuleren</span></button>
                {# TODO make it a submit button when we are not testing on production #}
                <button type="reset" class="btn btn-action"><span>Afhandelen</span></button>
            </div>
        </form>
    </div>

{% endblock %}
