/**
 * Configures the Rotterdam standard font: Bolder.
 *
 * This is the font that should be used for all web-pages.
 *
 * Font supplied by Team Mendix, available at:
 * https://gitlab.com/rdamrad/OntwikkelingEnBeheer/modules/module_rotterdam_ui_resources
 * https://gitlab.com/rdamrad/OntwikkelingEnBeheer/modules/module_rotterdam_ui_resources/-/wikis/uploads/72416804f0c6c985e0ac4840b2f3de09/GR_Bolder_2021.zip
 *
 * See http://www.w3schools.com/cssref/pr_font_weight.asp voor info
 *
 *  Valu    Description
 *  normal  Defines normal characters. This is default »
 *  bold    Defines thick characters »
 *  bolder  Defines thicker characters »
 *  lighter Defines lighter characters »
 *  100
 *  200
 *  300
 *  400
 *  500
 *  600
 *  700
 *  800
 *  900     Defines from thin to thick characters. 400 is the same as normal, and 700 is the same as bold
 *
 * Font definitions used:
 * https://www.figma.com/file/ZWSC4gCrOXRUR9UX3aoZ8x/Gemeente-Rotterdam-Design-System
 * https://www.figma.com/file/Hkj60vCTa0K5L79nXFFt5R/Parksaver-test?node-id=0%3A1
 *
 */
@font-face {
  font-family: "Bolder";
  src: url("#{$rotterdam-ui-path}/fonts/bolder/Bolder-Light.woff2") format("woff2"),
       url("#{$rotterdam-ui-path}/fonts/bolder/Bolder-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Bolder";
  src: url("#{$rotterdam-ui-path}/fonts/bolder/Bolder-Regular.woff2") format("woff2"),
       url("#{$rotterdam-ui-path}/fonts/bolder/Bolder-Regular.woff") format("woff");
  font-style: normal; // 400
}

@font-face {
  font-family: "Bolder";
  src: url("#{$rotterdam-ui-path}/fonts/bolder/Bolder-RegularItalic.woff2") format("woff2"),
       url("#{$rotterdam-ui-path}/fonts/bolder/Bolder-RegularItalic.woff") format("woff");
  font-style: italic;
  font-weight: normal; // 400
}

@font-face {
  font-family: "Bolder";
  src: url("#{$rotterdam-ui-path}/fonts/bolder/Bolder-Bold.woff2") format("woff2"),
       url("#{$rotterdam-ui-path}/fonts/bolder/Bolder-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold; // 700
}