
.container__details {
    > *:first-child {
        margin-top: 0;
    }
    h1 {
        margin-top: 0;
    }
    h2 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
        line-height: 175%;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

.no-image {
    background-color: $gray-tint02;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 $container-padding-x;
}

.container__imageslider {

    .container__image {
        max-height: calc(250px + 10vw);
        background-color: $gray-tint02;
        img {
            max-width: 100%;
            max-height: calc(250px + 10vw);
            height: 100%;
            display: block;
            margin: auto;
        }
    }

    .container__thumbs {
        padding: 16px $container-padding-x 0;
        white-space: nowrap;
        overflow-x: scroll;

        ul {
            list-style: none;
            padding: 0;
            margin: 0 -8px;

            li {
                display: inline-block;
                margin: 0 8px;
                cursor: pointer;

                &.selected {
                    .container__image {
                        opacity: 1;
                        outline: 2px solid $green-tint01;

                    }
                }
            }
        }
        .container__image {
            height: calc(50px + 2vw);
            width: calc(66px + 2vw);
            background-color: $gray-tint02;
            opacity: .5;
            outline: none;

            img {
                max-width: 100%;
                height: 100%;
                display: block;
                margin: auto;
            }
        }
    }
}

.container__map {
    height: 0;
    padding-bottom: 100%;

    .map {
        height: 0;
        padding-bottom: 100%;
        .map__overlay {
            color: $white;
            font-size: 1.5rem;
            font-family: 'Bolder', sans-serif;
            text-align: center;
            justify-content:center;
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 0;
            overflow: hidden;
            z-index: 9999;
            pointer-events:none;
            opacity: 0;
            background: rgba(0, 0, 0, 0);
            transition: background .25s, opacity .25s;
            transition-delay: .25s; 
        }
    
        &.swiping {
            .map__overlay {    
                right: 0;
                bottom: 0;
                padding: $alert-padding-x;
                height: auto;
                opacity: 1;
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
    

    .section--seperated & {
        margin-bottom: -16px !important;
    }

    img {
        width: 100%;
    };
}

.incident-meta-list {
    li {
        margin-bottom: 0.5rem;
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

.section--seperated {

    .full-width {
        margin: 0 (-(map-get($container-margin, md)));
    }
}

