html,
body {
    margin: 0;
    font-family: 'Bolder', sans-serif;
    font-size: 16px;
    color: $gray-tint11;

    @media (min-width: map-get($grid-breakpoints, sm)) {
        font-size: 18px;
    }
}

body {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

body,
main,
header {
    padding: 0 map-get($container-margin, md) 16px;
    margin: 0 auto;

    > .container {
        display: block;
        max-width: map-get($container-max-widths , sm );
        margin: 0 auto;
    }
}

// HEADINGS
h1, .h1 {
    font-size: $h1-font-size;
}

h2, .h2 {
    font-size: $h2-font-size;
}
h3, .h3 {
    font-size: $h3-font-size;
}
h4, .h4 {
    font-size: $h4-font-size;
}
h5, .h5 {
    font-size: $h5-font-size;
}
h6, .h6 {
    font-size: $h6-font-size;
}

@mixin has-icon {
    display: inline-block;
    margin-left: 25px;
    position: relative;
    
    svg {
        position: absolute;
        left: -25px;
        top: 4px;

        path {
            fill: $primary;
        }
    }
}

a {
    color: $primary;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.link--location {
        @include has-icon();
    }

    &.link--email {
        @include has-icon();
    }
    &.link--phone {
        @include has-icon();
    }

    &.link--next {
        @include has-icon();
    }

    &.link--file {
        @include has-icon();
    }

    &.link--file-text {
        @include has-icon();
    }
    &.link--bin {
        @include has-icon();
    }
}

button {
    &.link--next {
        @include has-icon();
    }
}

p {
    &.text--person {
        @include has-icon();
    }

    &.text--close {
        @include has-icon();
        svg {
            top: 6px;
        }
    }
}

.icon {
    @include has-icon();

    &--warning {
        &:before {
            content: url('../icons/warning.svg');
            top: -1px;
        }
    }
}


// LISTS

@mixin list-clean {
    list-style-type: none;
    padding: 0;
}

ul {
    &.list-clean {
        @include list-clean();
    }
}

dl {
    div{
        display: flex;

        dd,
        dt {
            margin: 0 0 .5rem;
        }
        dt {
            margin-right: .5rem;
        }
    }
}


// SECTIONS
section {
    &.section--seperated {
        padding: 1rem 0 0.75rem;
        border-bottom: 1px solid $gray-tint04;
    }
}

// HELPER-CLASSES
.foldout {
    height: auto;
    overflow: hidden;
    

    &.hidden {
        height: 0;
        padding: 0;
        margin: 0;
    }
}

.visually-hidden {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    pointer-events: none;
}