$buttons: (
  "action": (
    "text-decoration": none,
    "background": $action,
    "border": $action,
    "color": $white,
    "hover-background": $magenta-tint02,
    "hover-border": $magenta-tint02,
    "hover-color": $white,
    "active-background": $magenta-tint02,
    "active-border": $magenta-tint02,
    "active-color": $white,
    "disabled-background": $gray-tint04,
    "disabled-border": $gray-tint04,
    "disabled-color": $gray-tint09
  ),
  "primary": (
    "text-decoration": none,
    "background": $primary,
    "border": $primary,
    "color": $white,
    "hover-background": $green-tint02,
    "hover-border": $green-tint02,
    "hover-color": $white,
    "active-background": $green-tint02,
    "active-border": $green-tint02,
    "active-color": $white,
    "disabled-background": $gray-tint04,
    "disabled-border": $gray-tint04,
    "disabled-color": $gray-tint09
  ),
  "secondary": (
    "text-decoration": none,
    "background": $secondary,
    "border": $secondary,
    "color": $white,
    "hover-background": $gray-tint11,
    "hover-border": $gray-tint11,
    "hover-color": $white,
    "active-background": $gray-tint11,
    "active-border": $gray-tint11,
    "active-color": $white,
    "disabled-background": $gray-tint04,
    "disabled-border": $gray-tint04,
    "disabled-color": $gray-tint09
  ),
  "tertiary": (
    "text-decoration": none,
    "background": $white,
    "border": $gray-tint08,
    "color": $gray-tint11,
    "hover-background": $white,
    "hover-border": $green-tint01,
    "hover-color": $green-tint01,
    "active-background": $white,
    "active-border": $green-tint01,
    "active-color": $green-tint01,
    "disabled-background": $gray-tint01,
    "disabled-border": $gray-tint05,
    "disabled-color": $gray-tint07
  ),
  "text": (
    "text-decoration": underline,
    "background": $white,
    "border": $white,
    "color": $green-tint01,
    "hover-background": $white,
    "hover-border": $white,
    "hover-color": $gray-tint11,
    "active-background": $white,
    "active-border": $white,
    "active-color": $gray-tint11,
    "disabled-background": $white,
    "disabled-border": $white,
    "disabled-color": $gray-tint08
  ),
) !default;

@mixin customize-button (
  $button,
  $text-decoration,
  $background,
  $border,
  $color,
  $hover-background,
  $hover-border,
  $hover-color,
  $active-background,
  $active-border,
  $active-color,
  $disabled-background,
  $disabled-border,
  $disabled-color
) {
  .btn-#{$button} {
    @include button-variant(                                  // Bootstrap mixin
        $background: $background,
        $border: $border,
        $color: $color,
        $hover-background: $hover-background,
        $hover-border: $hover-border,
        $hover-color: $hover-color,
        $active-background: $active-background,
        $active-border: $active-border,
        $active-color: $active-color,
        $disabled-background: $disabled-background,
        $disabled-border: $disabled-border,
        $disabled-color: $disabled-color
    );
    font-weight: bold !important;
    padding-left: 0px;
    padding-right: 0px;

    &:focus {
      color: $color;
      background-color: $background;
      border-color: $border;
    }

    > * {
      text-decoration: $text-decoration;
      text-underline-offset: 2px;
    }

    &[class~="icon"] {                                        // Icon only
      padding: 7px;                                           // Result in button size of 48x48px
      display: flex;                                          // Use flex, in order to
      align-items: center;                                    // make centered vertically possible
      > *[class*="rtm-icon"] {
        font-size: 2rem;                                      // Result in icon size of 32x32px
        text-decoration: none;                                // No underline below icon
      }
    }

    &:not([class~="icon"]) {                                  // Not icon only
      > *:first-child {                                       // 16px margin left for labels (first element),
        margin-left: 16px;                                    // otherwise 12px margin left for icons,
        &[class*="rtm-icon"] {                                // because the surrounding space within icons
          margin-left: 12px;
          vertical-align: sub !important;                     // Result in center icon and label vertically
          text-decoration: none;                              // No underline below icon
        }
      }
      > *:first-child[class*="d-none"] + *:nth-child(2) {     // If first element is hidden (e.g. spinner)
        margin-left: 16px;                                    // 16px margin left for second element,
      }
      > *:last-child {                                        // 16px margin right for labels (last element),
        margin-right: 16px;                                   // otherwise 12px margin right for icons
        &[class*="rtm-icon"] {                                // because the surrounding space within icons
          margin-right: 12px;
          vertical-align: sub !important;                     // Result in center icon and label vertically
          text-decoration: none;                              // No underline below icon
        }
      }
    }

    > *:not(:last-child) + *:not(.visually-hidden) {          // 4px distance between icon and label
      margin-left: 4px;
    }
  }

  label > .btn-#{$button}, legend > .btn-#{$button} {
    float: right;
    padding-top: 1px;
  }
}
@each $button, $customization in $buttons {
  @include customize-button(
      $button: $button,
      $text-decoration: map-get($customization, "text-decoration"),
      $background: map-get($customization, "background"),
      $border: map-get($customization, "border"),
      $color: map-get($customization, "color"),
      $hover-background: map-get($customization, "hover-background"),
      $hover-border: map-get($customization, "hover-border"),
      $hover-color: map-get($customization, "hover-color"),
      $active-background: map-get($customization, "active-background"),
      $active-border: map-get($customization, "active-border"),
      $active-color: map-get($customization, "active-color"),
      $disabled-background: map-get($customization, "disabled-background"),
      $disabled-border: map-get($customization, "disabled-border"),
      $disabled-color: map-get($customization, "disabled-color")
  );
}

// Buttons with only an icon intended for fields with extra information
button[class="icon"] {
  border: none;
  background-color: transparent;
  font-size: 1.3rem;                                          // Result in icon size of 24x24px
  margin-left: -6px;                                          // Result in 8px distance between icon and label
}