/**
 * Rotterdam-ui uitbreiding op bootstrap-5.
 *
 * De in10 vormgeving heeft niet alleen 12 kolommen, maar daarbuiten
 * nog drie marges:
 * - een voor het logo
 * - een waar plaatjes kunnen uitsteken
 * - een die blanco blijft.
 *
 * Drie markup classes, voor container met 1,2,3 maal marge.
 * Voor applicaties zullen we alleen de 1x marge nodig hebben.
 *
 * mcontainer heeft padding, net als gewone container,
 * daarbinnen row die negatieve marge heeft,
 * dan column met weer padding, om gutter te realiseren.
 *
 * Dit betekent dat content in containers met marge niet in
 * sync kan zijn met het 12-kolom grid, gelukkig worden in het in10
 * design ook geen pogingen gedaan om elementen binnen de header in
 * lijn met grid te krijgen.
 */

.mcontainer,
.mmcontainer,
.mmmcontainer {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
    margin-right: auto;
    margin-left: auto;
}

@each $breakpoint,
$container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        $mymargin: map-get($container-margin, $breakpoint);
        .mcontainer {
            max-width: $container-max-width + 2 * $mymargin;
        }
        .mmcontainer {
            max-width: $container-max-width + 4 * $mymargin;
        }
        .mmmcontainer {
            max-width: $container-max-width + 6 * $mymargin;
        }
    }
}
