/**
 * (left) navigation sidebar.
 * .side_nav on top-level <ul> or <ol>,
 */

.side-nav {
  a {
    color: $gray-tint11;
    border-right: 4px solid $gray-tint01;
  }
  a.active {
    border-right: 4px solid $primary;
  }
  a:hover {
    background-color: $gray-tint01;
  }
}

.nav-link {
  // result in 52px height
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

header {
  .modal-body {
    .side-nav {
      a.nav-link {
        // Result in font size of 20px
        font-size: 1.25rem;
        padding-left: 1.25rem;
        border-right: 0;
        border-left: 4px solid transparent;
      }
      a.nav-link.active {
        border-left: 4px solid $primary;
      }
      a.nav-link:hover, a.nav-link:focus {
        background-color: $gray-tint01;
      }
      a.dropdown-item {
        // dropdown is used nested in sidebar for eg language selection
        // active has checkmark, not green border
        border: none;
        &:hover,
        &:focus {
          // repeat the normal dropdown colors to keep nav-link from overruling
          background-color: $black;
          color: $white;
        }
      
      }
    }
  }
}
