$validation-states: (
  "valid": (
    "color": $valid-color,
    "icon": "\e937"
  ),
  "invalid": (
    "color": $invalid-color,
    "icon": "\e936"
  )
) !default;

@mixin validation-feedback-icon (
  $color,
  $icon,
) {
  color: $color;
  padding-top: 6px;                                   // Space between input and feedback message.
  padding-left: 0px;
  &:before {
    padding-right: 3px;                               // Space between icon and feedback message.
    font-size: 1.25rem;
    text-transform: none;
    line-height: 1;
    vertical-align: middle !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Icon-Solid-Gemeente-Rotterdam' !important;
    content: $icon;
  }
}

@mixin validation-state (
  $state,
  $color,
  $icon,
) {
  .is-#{$state} {
    &:is(.form-control, .form-select) {               // Apply to input text fields only.
      border-bottom-color: $color !important;         // Only border bottom will have the state color.
      border-bottom-width: 1px;                       // Only border bottom will have a thicker line,
      box-shadow: 0 1px 0 $color;                     // so including the shadow bottom it will be 2px. Shadow is used to avoid "moving" when hovering.
      ~ .#{$state}-feedback {
        margin-top: 0px;                              // Space (vertical) between feedback message and input.
        border-top: none;                             // No border top for feedback message.
        @include validation-feedback-icon($color, $icon);
      }
      &:hover:not(:focus):not([disabled]) {           // Override the hover behaviour defined in '_forms.scss',
        box-shadow: 0 1px 0 $color,                   // only the border bottom will have the state color
          0 0 0 1px $hover-border-color;              // and the rest of the border remains its color
      }
      &:focus {                                       // Override the focus behaviour defined in '_forms.scss',
        box-shadow: 0 1px 0 $color,                   // only the border bottom will have the state color
          0 0 0 1px $focus-border-color;              // and the rest of the border remains its color
      }
    }
    &:not(.form-control, .form-select) {              // Apply to non input text fields, like upload button.
      ~ .#{$state}-feedback {
        margin-top: 8px;                              // Space (vertical) between feedback message and input.
        border-top: solid 2px $color;                 // Only border top will have the state color for feedback message.
        @include validation-feedback-icon($color, $icon);
      }
    }
  }
}

@each $state, $data in $validation-states {
  @include validation-state($state, $data...);
}
