$buttons: (
  "action": (
    "text-decoration": none,
    "background": $action,
    "border": $action,
    "color": $white,
    "hover-background": $magenta-tint02,
    "hover-border": $magenta-tint02,
    "hover-color": $white,
    "active-background": $magenta-tint02,
    "active-border": $magenta-tint02,
    "active-color": $white,
    "disabled-background": $gray-tint04,
    "disabled-border": $gray-tint04,
    "disabled-color": $gray-tint09
  ),
  "primary": (
    "text-decoration": none,
    "background": $primary,
    "border": $primary,
    "color": $white,
    "hover-background": $green-tint02,
    "hover-border": $green-tint02,
    "hover-color": $white,
    "active-background": $green-tint02,
    "active-border": $green-tint02,
    "active-color": $white,
    "disabled-background": $gray-tint04,
    "disabled-border": $gray-tint04,
    "disabled-color": $gray-tint09
  ),
  "secondary": (
    "text-decoration": none,
    "background": $secondary,
    "border": $secondary,
    "color": $white,
    "hover-background": $gray-tint11,
    "hover-border": $gray-tint11,
    "hover-color": $white,
    "active-background": $gray-tint11,
    "active-border": $gray-tint11,
    "active-color": $white,
    "disabled-background": $gray-tint04,
    "disabled-border": $gray-tint04,
    "disabled-color": $gray-tint09
  ),
  "tertiary": (
    "text-decoration": none,
    "background": $white,
    "border": $gray-tint08,
    "color": $gray-tint11,
    "hover-background": $white,
    "hover-border": $green-tint01,
    "hover-color": $green-tint01,
    "active-background": $white,
    "active-border": $green-tint01,
    "active-color": $green-tint01,
    "disabled-background": $gray-tint01,
    "disabled-border": $gray-tint05,
    "disabled-color": $gray-tint07
  ),
  "text": (
    "text-decoration": underline,
    "background": $white,
    "border": $white,
    "color": $green-tint01,
    "hover-background": $white,
    "hover-border": $white,
    "hover-color": $gray-tint11,
    "active-background": $white,
    "active-border": $white,
    "active-color": $gray-tint11,
    "disabled-background": $white,
    "disabled-border": $white,
    "disabled-color": $gray-tint08
  ),
) !default;

// Buttons with only an icon intended for fields with extra information
button[class="icon"] {
  border: none;
  background-color: transparent;
  font-size: 1.3rem;                                          // Result in icon size of 24x24px
  margin-left: -6px;                                          // Result in 8px distance between icon and label
}