// @use './../base' as base;

.full-page-view__filters {

    .show-filters & {
        .full-page-view__main {
            // opacity: 1;
            transform: translateZ(0);   
        }
    }

    .full-page-view__footer {

        .btn {
            width: 100%;
            margin-bottom: $input-padding-x;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .filter {
        padding: $input-padding-x;
        margin-bottom: $input-padding-x;
        border-top: 1px solid $gray-tint04;


        &:last-child{
            border-bottom: 1px solid $gray-tint04;
        }

        &--active {
            background-color: $gray-tint01;
            border: 0;
        }

        summary {
            display: flex;
            justify-content: space-between;
            padding-left: 20px;
            position: relative;

            &::before {
                content: url('../icons/arrow-right.svg');
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(90deg);
            }
            
        }

        &[open] {
            summary {
                &::before {
                    transform: rotate(-90deg);
                    left: 3px;
                }
            }
        }
        
        ul {
            @include list-clean();

            &.list-filters--active {
                li {
                    display: inline-block;
                    margin-right: 8px;
                }
            }

        }
    }
}

.container__list--districts {
    background-color: $gray-tint01;
    margin: 0 -8px 16px;
    padding: 16px;

    > *:first-child {
        margin-top: 0;
    }
}