/**
 * Tweak bootstrap form styling.  Main styling is in bootstrap _forms.scss
 */

 /**
  * Col-form-label and the lg and sm variants are used in legend,
  * as the name of a radio-button group, or in label, as the name
  * of a text-field or dropdown.
  * Note that label can also be used without this class, eg as a
  * possible value within a radio group.
  * The names of text fields and radio-buttons should match the
  * typography of names in completed forms, and we render those with dt/dd pairs.
  * So we use the font-weight variable that bootstrap defines for dt elements.
  */
.col-form-label, .col-form-label-lg, .col-form-label-sm,
form label {
  font-weight: $dt-font-weight;
}

/**
 * Sanders design calls for a button in error state, not normally
 * something done in forms.  We do markup with existing classes:
 *   -- .btn, like any button,
 *   -- .is-invalid, like textfield with error.
 * The .is-invalid does a red border in combination with .form-control,
 * and we want the red border, but not the .form-control, since that
 * also affects sizing of the button.
 * So we provide explicit CSS for btn in combination with is-invalid.
 * This is based on _forms.scss in bootstrap: @mixin form-validation-state
 */
.btn.is-invalid {
  border-color: $form-feedback-invalid-color;
  &:focus {
    border-color: $form-feedback-invalid-color;
    box-shadow: 0 0 0 $input-focus-width rgba($form-feedback-invalid-color, .25);
  }
}

%disable-platform-appearance {
  -moz-appearance: none;             // Disable platform-native styling for Firefox in order to apply the In10 design.
  -webkit-appearance: none;          // Disable platform-native styling for Safari in order to apply the In10 design.
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 0;
}

.form-control, .form-select {
  @extend %disable-platform-appearance;
  min-height: 48px;
  line-height: 24px;
  width: 100%;
  margin: 0.5rem 0 1.5rem;
  &:hover:not(:focus):not([disabled]) {
    border-color: $hover-border-color;
    box-shadow: 0 0 0 1px $hover-border-color;
  }
  &:focus {
    border-color: $focus-border-color;
    box-shadow: 0 0 0 1px $focus-border-color;
  }
  &:disabled {
    color: $text-muted;
  }
  &.search {
    padding-left: 40px;
    background-repeat: no-repeat;
  }
}

$form-search-indicator: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' clip-rule='evenodd' d='M19.5005 9.75C19.5005 6.825 17.1755 4.5 14.2505 4.5C11.3255 4.5 9.00046 6.825 9.00046 9.75C9.00046 12.675 11.3255 15 14.2505 15C17.1755 15 19.5005 12.675 19.5005 9.75ZM7.50046 9.75C7.50046 6 10.5005 3 14.2505 3C18.0005 3 21.0005 6 21.0005 9.75C21.0005 13.5 18.0005 16.5 14.2505 16.5C12.6478 16.5 11.1822 15.9521 10.0292 15.0319L4.25792 20.8031L3.19727 19.7425L8.96853 13.9712C8.04835 12.8182 7.50046 11.3526 7.50046 9.75Z' fill='#{$gray-800}'/> </svg>");
$form-search-indicator-position: left 10px center !default;
.form-control {
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #7C8B90;
    box-sizing: border-box;
    font-family: 'Bolder', sans-serif;
  &.search {
    background-image: escape-svg($form-search-indicator) !important;
    background-position: $form-search-indicator-position;
  }
}
.form-select {
    background-image: url("data:image/svg+xml, <svg width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27> <path fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M15.75 9.75L12 4.5L8.25 9.75H15.75ZM15.75 14.25L12 19.5L8.25 14.25H15.75Z%27 fill=%27%2365757B%27/> </svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 24px 24px;
    padding-right: 32px;
  &.search {
    background-image: escape-svg($form-search-indicator), escape-svg($form-select-indicator) !important;
    background-position: $form-search-indicator-position, $form-select-bg-position;
  }
  option {
    color: $body-color;                           // Default color for select elements
  }
}

.form-check {
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: -0.5rem;

    input {
        margin-right: 0.5rem;
    }
}

@mixin form-check-input {
    @extend %disable-platform-appearance;
        width: 1.5em;
        height: 1.5em;
        margin-top: 0.125em;
        vertical-align: top;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border: 1px solid #7C8B90;

        &:checked[type="checkbox"]{
            background-color: $green-tint01;
            background-image: url('data:image/svg+xml, %3csvg width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M9.86006 16.144L19.406 6.59806L20.4667 7.65873L9.86006 18.2653L3.49609 11.9014L4.55675 10.8407L9.86006 16.144Z%27 fill=%27white%27/%3e%3c/svg%3e');
        }
    
        &[type="radio"]{
            border-radius: 50%;
        }
        
        &:checked[type="radio"]{
            background-color: $green-tint01;
            background-image: url('data:image/svg+xml, %3csvg width=%2724%27 height=%2724%27 viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27M0 12C0 5.37258 5.37258 0 12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12Z%27 fill=%27none%27/%3e%3crect x=%278%27 y=%278%27 width=%278%27 height=%278%27 rx=%274%27 fill=%27white%27/%3e%3c/svg%3e');
        }

        &:disabled {
            background-color: $gray-tint01;
            opacity: 1;
            ~ .form-check-label {
            color: $gray-tint08;
            }
        }
        &:disabled:checked {
            background-color: $gray-tint08;
            border-color: $gray-tint08;
            opacity: 1;
        }
        &:disabled:checked[type="radio"] {
            background-image: none;
        }
        &:focus:checked {
            background-color: $black;
            border-color: $black;
            box-shadow: 0 0 0 1px $black;
            opacity: 1;
        }
        &:focus:not(checked) {
            border-color: $gray-tint11;
            box-shadow: 0 0 0 1px $gray-tint11;
            opacity: 1;
        }
        &:hover,
        &:focus {
            border-color: $green-tint01;
            box-shadow: 0 0 0 1px $green-tint01;
            opacity: 1;
        }

        ~ .form-check-label {
            line-height: 1.5rem;
            font-weight: 400;
        }
}

.list--form-check-input {
    @include list-clean();
    li {
        margin-bottom: 0.25rem;
    }
    input {
        @include form-check-input();
    }
}

.form-check-input {
    @include form-check-input();
}

.form-title-muted {
  color: $gray-tint08;
}

.form-row {
    position: relative;
    > label,
    > input {
        display: block;
    }

    > label {
        font-size: $h5-font-size;
        line-height: 24px;
    }

    .form--login & {
        > label {
            font-size: $h3-font-size;
        }
    }
    


    // @media (min-width: map-get($grid-breakpoints, md)) {
    //     display: flex;

    //     > * {
    //         flex: 1;
    //     }

    //     button {
    //         width: auto;
    //     }
    // }

    &.container__button {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        button {
            flex: 0 1 100%;
        }

        button:not(:first-child) {
            margin-left: 16px;
        }
    }

    .container__toggle {
        position: relative;
    }

    .password__toggle {
        position: absolute;
        right: 20px;
        top: 25px;

        &-active {
            opacity: 0.5;
        }
    }
}

.form--incident-handle {
    .btn-textlink {
        &.top-right {
            position: absolute;
            top: 5px;
            right: 0;
        }
    }

    textarea + .btn-textlink {
        transform: translateY(-20px);
    }

}
